body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #eee;
}

.container {
  width: 80%;
  margin: 0 auto;
}

header {
  background-color: #ffe600;
  padding: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  background-color: #f5f5f5;
  width: 100%;
  margin: 0 auto;
}

.product-card {
  background-color: white;
  border-bottom: 1px solid #ddd;
  padding: 20px;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: box-shadow 0.3s ease;
}

.product-card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.product-card img {
  max-width: 100px;
  height: auto;
  margin-right: 20px;
}

.product-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.product-info h2 {
  font-size: 18px;
  margin: 0;
}

.product-info p {
  margin: 5px 0;
  color: #666;
}

.product-info .price {
  color: #3483fa;
  font-size: 24px;
  font-weight: bold;
}

/* Estilos para el detalle de producto */
.product-detail {
  display: flex;
  align-items: center;
  background-color: white;
  padding: 40px;
  margin: 20px 0;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.product-detail img {
  max-width: 300px;
  height: auto;
  margin-right: 40px;
}

.product-info-detail {
  display: flex;
  flex-direction: column;
}

.product-info-detail h1 {
  font-size: 28px;
  margin: 0;
}

.product-info-detail p {
  margin: 10px 0;
  color: #666;
}

.product-info-detail .price {
  color: #3483fa;
  font-size: 32px;
  font-weight: bold;
}

.product-info-detail .condition {
  font-size: 16px;
  color: #666;
}

.product-info-detail .soldQuantity {
  margin-top: 10px;
  font-size: 14px;
}

.product-info-detail .buyButton {
  background-color: #3483fa;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 20px;
  font-size: 16px;
  transition: background-color 0.3s;
}

.product-info-detail .buyButton:hover {
  background-color: #2968c7;
}
